.form {
  margin-top: 5%;
  border: 1px solid blueviolet;
  border-radius: 3px 16px 3px 16px;
}
.question {
  border: 1px solid grey;
  word-spacing: 4;
  padding: 2%;
  text-align: left;
  line-height: 3;
}

.sample-input {
  display: inline;
  border: 1px solid black;
  line-height: 3;
}

.sample-output {
  display: inline;
  border: 1px solid black;
  line-height: 3;
}
.io {
  padding: 3%;
  text-align: center;
}
.io-heading {
  text-align: center;
  margin-top: 3%;
}

.question-heading {
  text-align: center;
  font-weight: 800;
  font-size: 200%;
  font-family: "Times New Roman", Times, serif;
}

.code {
  resize: none;
}

.code-container {
  font-size: medium;
  margin-top: 2%;
  margin-bottom: 0%;
  padding: 3%;
}

@media only screen and (max-width: 512px) {
  .question-heading {
    margin-top: 20%;
  }
}

.buttons {
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}
.actions {
  text-align: center;
  align-items: center;
}

.verdict-right {
  display: none;
  padding: 2%;
  color: floralwhite;
  background-color: green;
}
.verdict-wrong {
  display: none;
  padding: 2%;
  color: floralwhite;
  background-color: red;
}

.code-container > textarea {
  color: yellow;
  font-weight: 400;
  background-color: black;
}

.problems > heading {
  color: black;
  font-size: x-large;
}

.problems {
  margin-top: 5%;
  padding: 2%;
  text-align: center;
  border: 1px solid powderblue;
}

.problem-links {
  margin: 2%;
  text-align: left;
}
.problem-links > a {
  padding-left: 5%;
  margin-bottom: 1%;
}

.problem-links > a:hover {
  background-color: blue;
  color: floralwhite;
  font-size: large;
}

@media only screen and (max-width: 500px) {
  .problems {
    margin-top: 15%;
  }
}

.add {
  margin: 3%;
  margin-right: 5%;
  float: right;
}
.questions-prepared {
  font-size: 500%;
  margin: 2%;
  line-height: 1;
  text-align: center;
  border: 2px double slategray;
  padding: 1%;
  border-radius: 0 5% 0 5%;
}
.questions-prepared > small {
  font-size: 2rem;
}

.home {
  background: url("./background.jpg") no-repeat center center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.h-cont {
  align-self: center;
  min-width: 20%;
  min-height: 40%;
  padding: 5%;
  color: floralwhite;
}

.heading {
  margin: 2%;
}

.about-site {
  margin: 1%;
  font-size: 140%;
  margin-bottom: 2%;
  background-color: rgba(108, 122, 137, 0.6);
  padding: 2%;
}

.page {
  display: flex;
  min-height: 100%;
  align-content: center;
  justify-content: center;
}

.decoration {
  background: url("./background.jpg") no-repeat center center;
  margin-top: 2%;
  text-align: center;
  color: floralwhite;
  padding: 3%;
  height: 80vh;
}

@media only screen and (max-width: 500px) {
  .decoration {
    display: none;
  }
}
.login-info {
  min-height: 50%;
  align-self: center;
  margin-top: 8%;
  padding: 5%;
  padding-right: 0%;
}
.l {
  background-color: mediumblue;
  color: aliceblue;
}

.problem-card {
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 10%;
  color: blue;
  padding-top: 8%;
}
.card {
  margin-left: 6%;
  margin-right: 6%;
  transition: all 0.2s ease-in-out;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 0 10px 12px 0 rgba(253, 253, 253, 0.2),
    0 10px 12px 0 rgba(255, 255, 255, 0.19);
}
.card:hover {
  transform: scale(1.1);
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.practice-set {
  margin: 5%;
  padding: 3%;
  text-align: center;
  background-color: rgba(87, 133, 194, 0.616);
}
.done {
  background-color: rgba(128, 202, 128, 0.534);
}
thead {
  background-color: darkslateblue;
}
.not-done {
  background-color: rgba(255, 1, 1, 0.534);
}
.set-title {
  margin-bottom: 2%;
  text-shadow: 4px 4px rgba(50, 121, 236, 0.863);
}

tr {
  transition: all 0.2s ease-in-out;
}

tr:hover {
  transform: scale(1.02);
}

.question-container {
  margin-top: 5%;
  background-color: rgba(50, 121, 236, 0.863);
}
.profile-box {
  margin-top: 7%;
  text-align: center;
  padding: 5%;
  padding-top: 2%;
  background-color: rgba(43, 141, 206, 0.349);
}

.image > img {
  width: 200px;
  height: 200px;
  border-radius: 75%;
  transition: all 0.5s ease-in-out;
}
.image > img:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 20px 0.9px rgba(190, 25, 75, 0.705);
}

.email-address {
  font-size: 125%;
  margin-bottom: 3%;
}
#practice-progress {
  width: 20%;
}
#lab-progress {
  width: 58%;
}

#contest-progress {
  width: 35%;
}
.label {
  font-size: 150%;
  margin-bottom: 4%;
}

.inpLabel {
  font-size: xx-large;
  text-align: center;
}

.problems-box {
  padding: 10%;
  color: rgb(14, 14, 46);
  font-size: 150%;
}

.problems-box > a {
  margin-top: 3%;
}

.faculty-title {
  color: blue;
}

.prepared-box {
  padding: 10%;
  padding-top: 2%;
  color: black;
}

.faculty-profile-box {
  margin-top: 7%;
  text-align: center;
  padding: 5%;
  padding-top: 2%;
  background-color: rgba(43, 141, 206, 0.349);
}
.leaderboard {
  margin-top: 10%;
  padding: 10%;
  padding-top: 2%;
  background-color: rgba(0, 255, 115, 0.298);
}

.current-user {
  background-color: rgba(51, 255, 0, 0.493);
}

.lead-heading {
  text-align: center;
  margin-bottom: 2%;
  text-decoration: underline rgb(210, 179, 212) wavy;
}

.forom {
  margin-top: 5%;
}

fieldset {
  border: 1px groove #ddd !important;
  padding: 5% !important;
  margin: 0 0 1.5em 0 !important;
}

.input-new-solution {
  margin-top: 3%;
  padding: 2%;
  background-color: rgba(87, 133, 194, 0.616);
}

.input-new-solution > button {
  float: right;
  margin-top: 3%;
}

.blockquote {
  padding: 2%;
  background-color: rgba(253, 253, 253, 0.2);
}

#asked-by {
  color: white;
}

.question-description {
  background-color: rgba(255, 1, 1, 0.334);
  padding: 4%;
  margin: 3% 0% 3% 0%;
}
.lab-type {
  color: blue;
  margin: 4% 0% 4% 0%;
}

.comp {
  font-size: 130%;
}

.question-box {
  padding: 15%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#query-name {
  width: 50%;
  margin-left: 26%;
}

.verdicts {
  text-align: center;
  padding: 0% 0% 0% 20%;
}

.verdict-loading {
  display: none;
  background-color: yellow;
  color: black;
  padding: 2% 0% 2% 0%;
}

.display-3 {
  font-family: monsterrat;
}

.navbar {
  font-family: robotomono;
}
